<h1>Welcome Chuts!</h1>
<p>These are your BTC Guild stats. Click the link to update... <%= link_to "parser", parser_path %>
<br>Happy mining!!</p>
<p>P.S. You should make this not look terrible...</p>
<br>
<% bit = Parsed.last %>
<h2>Miner Name:  <%= bit.worker_name %></h2>
<table hspace="10">
<tr><td><h3>Miner Info:</h3></td><td><h3>Reward Info:</h3></td><td><h3>Pool Info:</h3></td></tr>
<tr valign=top>
<td>
<table border="2" cellpadding="2" cellspacing="0">
<tr><td>Hash rate:</td><td><%= bit.hash_rate %></td></tr>
<tr><td>Round shares(stales):</td><td><%= bit.round_shares %>(<%= bit.round_stales %>)</td></tr>
<tr><td>Since reset(stales):</td><td><%= bit.reset_shares %>(<%= bit.reset_stales %>)</td></tr>
<tr><td>Total shares:</td><td><%= bit.total_shares %></td></tr>
<tr><td>Last share:</td><td><%= bit.last_share %></td></tr>
</table>
</td>
<td>
<% totalreward = bit.estimated_rewards + bit.unconfirmed_rewards + bit.confirmed_rewards %>
<table border="2" cellpadding="2" cellspacing="0">
<tr><td>Estimated:</td><td><%= bit.estimated_rewards %></td></tr>
<tr><td>Unconfirmed:</td><td><%= bit.unconfirmed_rewards %></td></tr>
<tr><td>Confirmed:</td><td><%= bit.confirmed_rewards %></td></tr>
<tr><td bgcolor="green">Total:</td><td bgcolor="green"><%= totalreward %></td></tr>
</table>
</td>
<td>
<table border="2" cellpadding="2" cellspacing="0">
<tr><td>Time on block:</td><td><%= bit.round_time %></td></tr>
<tr><td>Hash rate:</td><td><%= bit.pool_hash_rate %></td></tr>
</table>
</td>
</tr>