<head>
<meta http-equiv="refresh" content="3; url=http://0.0.0.0:3000/">
</head>

<h1><strong><em>You're shit is being parsed</em></strong></h1>
<p>Each time you load this page, a new database entry with your information will be made. 
The stats on home page display the most recent entry in the database</p>

<br>
<br>

<h2>The shit is now parsed!</h2>
<p>Here's some proof:<br>
Hash rate:  <%= @hash %> <br>
Last share:  <%=  @lastshtime %>
</p>
<br>
<h2>YOU ARE BEING REDIRECTED...</h2>
<br><h1><%= link_to "STATS", root_path %></h1>



<!--
#<h1>PARSER</h1>
#<p>This is the parser....work plox<p>
#<%= puts "some ruby" %>
#test float:
#<%= @unconfirmed %>
#<h1>BEAST</h1>
#Hash Rate: 
#<%= @hash %>
#<h2>confirmed</h2>
#<%= @confirmed %>
#<h2>unconfirmed</h2>
#<%= @unconfirmed %>
#<h2>estimated</h2>
#<%= @estimated %>
#<h1>TOTAL</h1>
#<%= @total_reward %>
-->